.Hero {
  font-family: "exo";
  font-weight: bold;
  

}

.Hero .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

.hero {
  transform: matrix(1.4, 0, 0, 2, 0, -10);
  font-size: 28px;
}

.hero-name {
  color: #8edad3;
  font-size: 62px;
  font-family: "fascinate";
  text-shadow: 3px 3px 0px rgb(164, 136, 234);
  text-shadow: 3px 3px 0px black;
}

.Hero h2 {
  transform: matrix(1.1, 0, -0.3, 1, -7, 30);
  font-weight: 700;
  color: white;
}
